{% extends "base-layout.njk" %}
{% block title %}ОБЖ: первая помощь{% endblock %}

{% block preview__title %}
  Первая помощь при ранениях
{% endblock %}
{% block preview__description %}
  © Г.А. Кашков, А.С. Булгаков, 1987. Все права защищены.<br>
{% endblock %}

{% block content %}
<section class="images js-list-container">
  
</section>
{% endblock %}

{% block scripts %}
  <script src="/float/assets/js/images-loader--first-aid.js"></script>
  <script src="/float/assets/js/image-opener.js"></script>
  <script src="/float/assets/js/download-aside-opener.js"></script>
{% endblock %}
