{% extends "base-layout.njk" %}
{% block title %}Архивные распечатки{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">ARCHIVE</div>
    <div class="preview__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat ipsam
      dolorum nostrum ut voluptates tempore voluptate libero voluptas eos blanditiis
      consequatur similique quia est vitae natus, dolorem sunt! Consequatur?
    </div>
  </section>
{% endblock %}
