{% extends "base-layout.njk" %}
{% block title %}Архивные распечатки{% endblock %}

{% block preview_title %}Архивные распечатки{% endblock %}
{% block preview_text %}
  Все архивные материалы, которые выдавали преподавателями, но они по различным причинам стали неактуальными
{% endblock %}

{% block content %}
{% endblock %}
