{% extends "base-layout.njk" %}
{% block title %}Архивные распечатки{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">Архивные распечатки</div>
    <div class="preview__text">
      Все архивные материалы, которые выдавали преподавателями, но они по различным причинам стали неактуальными.
    </div>
  </section>
{% endblock %}
