{% extends "base-layout.njk" %}
{% block title %}Русский язык: таблицы{% endblock %}

{% block preview__title %}
  Таблицы
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
