{% extends "base-layout.njk" %}
{% block title %}Актуальные распечатки{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">Актуальные распечатки</div>
    <div class="preview__text">
      Все актуальные материалы, выданные преподавателями, без каких-либо правок.
    </div>
  </section>
  <section class="physics">
    <div class="restrange-title restrange--green text--bold">Физика</div>
    <div class="buttons">
      <ul class="buttons__list buttons__list--columns--3">
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">
          WIP 1</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">
          WIP 2</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">
          WIP 3</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="informatics">
    <div class="restrange-title restrange--blue text--bold">Информатика</div>
    <div class="buttons">
      <ul class="buttons__list buttons__list--columns--3">
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">WIP 1</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">WIP 2</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">WIP 3</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="russian">
    <div class="restrange-title restrange--yellow text--bold">Русский</div>
    <div class="buttons">
      <ul class="buttons__list buttons__list--columns--3">
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="./russian/essays/">Сочинения</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">WIP 2</a>
        </li>
        <li class="buttons__list-item">
          <a class="button button--alight--center" href="#!">WIP 3</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
