{% extends "base-layout.njk" %}
{% block title %}Информатика: полезное{% endblock %}

{% block preview__title %}
  Полезные сервисы
{% endblock %}

{% block content %}
  <section class="slides">
    <ul class="slides__list">
      <li class="slides__item slide slide--medium bg--cyan">
      <a class="slide__link slide__link--p-large" href="https://boolean-calculator.ru/" target="_blank">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Калькулятор логических выражений</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Составляет таблицы истинности на основе данного ему алгебро-логического выражения</div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
