{% extends "base-layout.njk" %}
{% block title %}Информатика{% endblock %}

{% block preview__title %}
  Информатика
{% endblock %}

{% block content %}
  <section class="slides">
    <ul class="slides__list">
      <li class="slides__item slide slide--medium bg--cyan">
        <a class="slide__link slide__link--p-large" href="/float/handbook/informatics/formulas">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Формулы</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Комбинаторика, формулы ЕГЭ, ОГЭ и многое другое</div>
        </a>
      </li>
      <li class="slides__item slide slide--medium bg--blueberry">
        <a class="slide__link slide__link--p-large" href="/float/handbook/informatics/python">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Python</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Полезные алгоритмы для решения различных задач</div>
        </a>
      </li>
      <li class="slides__item slide slide--medium bg--blueberry">
        <a class="slide__link slide__link--p-large" href="/float/handbook/informatics/useful">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Полезное</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Калькуляторы, конверторы, справочники и прочее</div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
