{% extends "base-layout.njk" %}
{% block title %}Информатика{% endblock %}

{% block preview__title %}
  Информатика
{% endblock %}

{% block content %}
  <section class="handbook">
    <ul class="handbook__list">
      <li class="hanbook__item slide slide--medium bg--cyan">
        <a class="slide__link slide__link--p32" href="#!WIP">
          <div class="slide__title slide__title--fz26 slide__title--mb12">Формулы</div>
          <div class="slide__description slide__description--fz16 slide__description--maw520">Комбинаторика, формулы ЕГЭ, ОГЭ и многое другое</div>
        </a>
      </li>
      <li class="hanbook__item slide slide--medium bg--blueberry">
        <a class="slide__link slide__link--p32" href="#!WIP">
          <div class="slide__title slide__title--fz26 slide__title--mb12">Python</div>
          <div class="slide__description slide__description--fz16 slide__description--maw520">Синтаксис языка, библиотеки и лайфхаки</div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
