{% extends "base-layout.njk" %}
{% block title %}Математика: тригонометрия{% endblock %}

{% block preview__title %}
  Тригонометрия
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
