{% extends "base-layout.njk" %}
{% block title %}ОБЖ{% endblock %}

{% block preview__title %}
  ОБЖ
{% endblock %}

{% block content %}
  <section class="slides">
    <ul class="slides__list">
      <li class="slides__item slide slide--medium bg--brown">
        <a class="slide__link slide__link--p-large" href="/handbook/fsl/first-aid">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Первая помощь</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Как оказать первую помощь при огнестрельных ранениях</div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
