{% extends "base-layout.njk" %}
{% block title %}ОБЖ{% endblock %}

{% block preview__title %}
  ОБЖ
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
