{% extends "base-layout.njk" %}
{% block title %}Недельное расписание{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">Недельное расписание</div>
    <div class="preview__text">
      На данной странице Вы можете увидеть полное недельное расписание
    </div>
  </section>
  <section class="table-of-contents">
    <div class="title"></div>
    <ul class="table-of-contents__list">
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
      <li class="table-of-contents__list-item"><a href="">CONTENT</a></li>
    </ul>
  </section>
  <section class="tables"></section>
  <script src="/assets/js/get-table.js" table="timetable" section="all"></script>
{% endblock %}
