{% extends "base-layout.njk" %}
{% block title %}Недельное расписание{% endblock %}

{% block preview_title %}Недельное расписание{% endblock %}
{% block preview_text %}
  На данной странице Вы можете увидеть полное недельное расписание
{% endblock %}

{% block content %}
  {% include "up-button.njk" %}
  <section class="table-of-contents">
    <div class="title">Оглавление</div>
    <div class="table-of-contents__content">
      <ol class="table-of-contents__list">
        <li class="table-of-contents__list-item">
          <a class="link" href="#monday">Понедельник</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#tuesday">Вторник</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#wednesday">Среда</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#thursday">Четверг</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#friday">Пятница</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#saturday">Суббота</a>
        </li>
      </ol>
    </div>
  </section>
  <section class="tables"></section>
{% endblock %}
{% block scripts %}
  <script src="/assets/js/get-table.js" table="timetable" section="all"></script>
{% endblock %}
