.details__summary {
    position: relative;
    margin: -.5em -.5em 0;
    padding: .5em .5em .5em 1.5em;
    user-select: none;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("/database/svg/marker.svg");
        background-repeat: no-repeat;
        left: .5em;
        top: .75em;
        transition: 300ms;
    }
}

.details[open] {
    .details__summary {
        border-bottom: 2px solid var(--color-surface-negative);
        margin-bottom: .5em;

        &::after {
            transform: rotate(-180deg);
        }
    }
}

html[theme="dark"] {
    .details__summary::after {
        filter: invert(100%);
    }
}
