{% extends "base-layout.njk" %}
{% block title %}Информатика: python{% endblock %}

{% block preview__title %}
  Python
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
