{% extends "base-layout.njk" %}
{% block title %}Справочник{% endblock %}

{% block preview__title %}
  Справочник
{% endblock %}

{% block content %}
  <section class="handbook">
    <ul class="handbook__list">
      <li class="hanbook__item slide slide--large bg--green">
        <a class="slide__link slide__link--p28" href="/handbook/physics/">
          <div class="slide__content">
            <div class="slide__title slide__title--fz26 slide__reference--mb12">Физика</div>
            <div class="slide__description slide__description--fz16 slide__description--maw334">Если не учить физику, то вся жизнь будет наполнена чудесами и волшебством</div>
            <div class="slide__image slide__image--wh135">{% include "svg/slide__image--physics.svg" %}</div>
          </div>
          <div class="slide__reference slide__reference--mt48 slide__reference--fz14">
            <ul class="slide__reference--list">
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Определения</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Карточки</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Формулы</a></object></li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hanbook__item slide slide--large bg--brown">
        <a class="slide__link slide__link--p28" href="#!WIP">
          <div class="slide__content">
            <div class="slide__title slide__title--fz26 slide__reference--mb12">Русский язык</div>
            <div class="slide__description slide__description--fz16 slide__description--maw334">Русский язык - один из богатейших языков в мире, в этом нет никакого сомнения</div>
            <div class="slide__image slide__image--wh135">{% include "svg/slide__image--russian.svg" %}</div>
          </div>
          <div class="slide__reference slide__reference--mt48 slide__reference--fz14">
            <ul class="slide__reference--list">
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Таблицы</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Конспекты</a></object></li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hanbook__item slide slide--large bg--blueberry">
        <a class="slide__link slide__link--p28" href="#!WIP">
          <div class="slide__content">
            <div class="slide__title slide__title--fz26 slide__reference--mb12">Информатика</div>
            <div class="slide__description slide__description--fz16 slide__description--maw334">Кто владеет информацией, тот владеет миром</div>
            <div class="slide__image slide__image--wh135">{% include "svg/slide__image--informatics.svg" %}</div>
          </div>
          <div class="slide__reference slide__reference--mt48 slide__reference--fz14">
            <ul class="slide__reference--list">
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Формулы</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Python</a></object></li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hanbook__item slide slide--large bg--red">
        <a class="slide__link slide__link--p28" href="#!WIP">
          <div class="slide__content">
            <div class="slide__title slide__title--fz26 slide__reference--mb12">ОБЖ</div>
            <div class="slide__description slide__description--fz16 slide__description--maw334">Тот, кто уверен в собственной безопасности - абсолютно беззащитен</div>
            <div class="slide__image slide__image--wh135">{% include "svg/slide__image--fsl.svg" %}</div>
          </div>
          <div class="slide__reference slide__reference--mt48 slide__reference--fz14">
            <ul class="slide__reference--list">
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Пожар</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Взрыв</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Места эвакуации</a></object></li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hanbook__item slide slide--large bg--cyan">
        <a class="slide__link slide__link--p28" href="#!WIP">
          <div class="slide__content">
            <div class="slide__title slide__title--fz26 slide__reference--mb12">Математика</div>
            <div class="slide__description slide__description--fz16 slide__description--maw334">Математика - эта та часть физики, в которой эксперименты очень дешевы</div>
            <div class="slide__image slide__image--wh135">{% include "svg/slide__image--mathematics.svg" %}</div>
          </div>
          <div class="slide__reference slide__reference--mt48 slide__reference--fz14">
            <ul class="slide__reference--list">
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Формулы</a></object></li>
              <li class="slide__reference-item"><object><a href="#!WIP:REF" class="slide__reference link">Тригонометрия</a></object></li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
