{% extends "layout.njk" %}
{% block title %}Справочник{% endblock %}
{% block content %}
  <content class="preview">
    <div class="mrgn-b-20">
      <h1 class="font-big">Verrat de sacrament.</h1>
    </div>
    <div class="preview__sub-text">
      <p>Calvinouche de cul de bâtard d'estique de crucifix de cibouleau de saintes fesses de verrat d'étole de colon de
        charogne.</p>
    </div>
  </content>
  <section class="physics">
    <div class="head-block-green">
      <h2 class="font-small">Физика</h2>
    </div>
    <div class="buttons buttons_mini">
      <a href="/handbook/physics-formulas" class="button" id="formulas">Формулы</a>
      <a href="/handbook/physics-definitions" class="button" id="definitions">Определения</a>
      <a href="/handbook/physics-synopsis" class="button" id="synopsis">Конспекты</a>
    </div>
  </section>
  <section class="russian">
    <div class="head-block-orange">
      <h2 class="font-small">Русский язык</h2>
    </div>
    <div class="buttons buttons_mini">
      <a href="/handbook/russian-paronyms" class="button" id="formulas">Таблица паронимов</a>
      <a href="#" class="button" id="definitions">Правила ударений</a>
      <a href="#" class="button" id="synopsis">Правила суффиксов</a>
      <a href="#" class="button" id="synopsis">Правила приставок</a>
      <a href="#" class="button" id="synopsis">Правила корней</a>
    </div>
  </section>
  <section class="informatics">
    <div class="head-block-blue">
      <h2 class="font-small">Информатика</h2>
    </div>
    <div class="buttons buttons_mini">
      <a href="/handbook/informatics-formulas" class="button" id="formulas">Формулы</a>
    </div>
  </section>
{% endblock %}
