.author__avatar {
    display: flex;
    align-items: center;
    text-align: center;
    height: 198px;
    width: 198px;
    border-radius: 15px;
    background-color: var(--color-red);
    font-family: 'JetBrains Mono';
    font-size: 20px;
}
