.museum\:h {
  &1 {
    margin: 36px 0 10px 10px;
    font-size: 32px;
    font-weight: 600;
    color: #4e4e4e;
  }

  &2 {
    margin: 36px 0 10px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #4e4e4e;
  }

  &3 {
    padding: 12px 0 12px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #4e4e4e;
  }
}
