{% extends "base-layout.njk" %}
{% block title %}ЕГЭ{% endblock %}

{% block preview__title %}
  Всё для ЕГЭ
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
