.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    background-color: var(--color-footer);

    &__left {
        display: flex;
        align-items: center;
        margin-left: 36px;

        @media screen and (max-width: 600px) {
            margin-left: 16px;
        }
    }
    &__right {
        margin-right: 36px;

        @media screen and (max-width: 600px) {
            margin-right: 16px;
        }
    }
}
