.header__button {
    display: flex;
    align-items: center;
    background-color: var(--color-surface-colored);
    color: var(--color-text);
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    margin-left: 16px;
    cursor: pointer;
    transition: transform 50ms;

    &:hover {
        transform: scale(1.05);
    }
    &-image {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: -1px;

        &::after {
            margin-left: 8px;
            @media screen and (max-width: 600px) {
                content: '' !important;
                margin-left: 0;
            }
        }
    }
}

.search-button::after {
    content: 'Поиск';
}

.theme-button::after {
    content: 'Тема';
}

.profile-button::after {
    content: 'Войти';
}
