html {
    &[theme='dark'] {
        .theme-button {
            &--dark {
                display: inherit;
            }
            &--light {
                display: none;
            }
        }
    }
    &[theme='light'] {
        .theme-button {
            &--light {
                display: inherit;
            }
            &--dark {
                display: none;
            }
        }
    }
}

#theme-button {
    margin-top: 0;
}
