.popular-pages__slides {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 12px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
