{% extends "base-layout.njk" %}
{% block title %}ОБЖ: пожар{% endblock %}

{% block preview__title %}
  Всё про пожар
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
