.pupular-pages__see-all {
    display: block;
    margin: 0 auto;
    padding: 20px 52px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 12px;
    max-width: fit-content;
    font-size: 17px;
    transition: 300ms;

    &:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}
