{% extends "base-layout.njk" %}
{% block title %}Физика: формулы{% endblock %}

{% block preview__title %}
  Формулы
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
