.slide {
    border-radius: 20px;
    background-color: var(--color-light-grey);
    transition: 300ms;

    &:hover {
        transform: scale(0.97);
    }
}

.slide--large {
    width: 574px;
    height: 256px;
}

.slide--medium {
    width: 574px;
}

.slide--small {
    width: 425px;
    height: 190px;
}
