.slide {
    border-radius: 20px;
    background-color: var(--color-light-grey);
    transition: 300ms;

    &:hover {
        transform: scale(0.97);
    }
}

#slide--physics {
    background-color: var(--color-green);
}

#slide--russian {
    background-color: var(--color-brown);
}

#slide--informatics {
    background-color: var(--color-blueberry);
}

#slide--fsl {
    background-color: var(--color-red);
}

#slide--mathematics {
    background-color: var(--color-cyan);
}
