.navigate-menu__list {
    border: 1px solid var(--color-header);
    border-radius: 9px;
    background-color: var(--color-surface-colored);
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}
