.navigate-menu {
    @media screen and (max-width: 600px) {
        display: none;
        height: 100%;
        font-size: 24px;

        &--showing {
            display: inherit;
        }
    }
    @media screen and (min-width: 601px) {
        position: sticky;
        top: 92px;
        flex-shrink: 0;
        margin-left: -197px - 52px;
        width: 197px;
    }
}
