.download-aside__open {
    position: absolute;
    top: 0;
    left: -88px;
    background-color: var(--color-dark-grey);
    padding: 8px 36px 8px 12px;
    border-radius: 4px;
    color: var(--color-white);

    @media screen and (min-width: 460px) {
        display: none;
    }
}
