{% extends "base-layout.njk" %}
{% block title %}Расписание{% endblock %}

{% block preview__title %}
  Расписание
{% endblock %}

{% block content %}
  <section class="timetable">
    <div class="timetable__controller">
      <select class="timetable__day-selector day-selector table-controller selector text--p-small" table="timetable">
        <option value="monday" class="selector__option">Понедельник</option>
        <option value="tuesday" class="selector__option">Вторник</option>
        <option value="wednesday" class="selector__option">Среда</option>
        <option value="thursday" class="selector__option">Четверг</option>
        <option value="friday" class="selector__option">Пятница</option>
        <option value="saturday" class="selector__option">Суббота</option>
      </select>
      <select class="timetable__grade-selector grade-selector table-controller selector text--p-small" table="timetable">
        <option value="5a" class="selector__option grade-selector__grade">5А класс</option>
        <option value="5b" class="selector__option grade-selector__grade">5Б класс</option>
        <option value="5r" class="selector__option grade-selector__grade">5Р класс</option>
        <option value="6a" class="selector__option grade-selector__grade">6А класс</option>
        <option value="6b" class="selector__option grade-selector__grade">6Б класс</option>
        <option value="7a" class="selector__option grade-selector__grade">7А класс</option>
        <option value="7b" class="selector__option grade-selector__grade">7Б класс</option>
        <option value="8a" class="selector__option grade-selector__grade">8А класс</option>
        <option value="8b" class="selector__option grade-selector__grade">8Б класс</option>
        <option value="9a" class="selector__option grade-selector__grade">9А</option>
        <option value="9b" class="selector__option grade-selector__grade">9Б</option>
        <option value="10a" class="selector__option grade-selector__grade">10А</option>
        <option value="11a" class="selector__option grade-selector__grade">11А</option>
      </select>
    </div>
    <div class="timetable__table js-table-container table-container"></div>
  </section>
{% endblock %}
{% block scripts %}
  <script src="/assets/js/timetable-day-autoselecter.js"></script>
  <script src="/assets/js/table-builder.js"></script>
  <script src="/assets/js/table-listener.js"></script>
{% endblock %}
