{% extends "base-layout.njk" %}
{% block title %}ОГЭ{% endblock %}

{% block preview__title %}
  Всё для ОГЭ
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
