{% extends "base-layout.njk" %}
{% block title %}Русский язык{% endblock %}

{% block preview__title %}
  Русский язык
{% endblock %}
{% block preview__description %}
  © Рахметов Альберт Рафаилович, Вторушин Семён Андреевич, 2022. Все права защищены.<br>
{% endblock %}

{% block content %}
  <section class="synopses slides js-list-container"></section>
{% endblock %}

{% block scripts %}
  <script src="/float/assets/js/synopses-loader--russian.js"></script>
  <script src="/float/assets/js/download-aside-opener.js"></script>
{% endblock %}
