{% extends "base-layout.njk" %}
{% block title %}Русский: Основы{% endblock %}

{% block preview_title %}Орфография{% endblock %}
{% block preview_text %}
  Опорный конспект данного раздела русского языка. Самые основы
{% endblock %}

{% block content %}
  <section class="parts-of-speech">
    <div class="title parts-of-speech__title">Части речи</div>
    <div class="nesting--1 parts-of-speech__content table-container__content">
      <table class="table">
        <tbody>
          <tr>
            <td class="table__heading">Существительное</td>
            <td>Обозначает предметы, живые существа, явления и т.д.</td>
          </tr>
          <tr>
            <td class="table__heading">Прилагательное</td>
            <td>Обозначает признаки предметов и явлений</td>
          </tr>
          <tr>
            <td class="table__heading">Числительное</td>
            <td>Обозначает количество предметов и явлений</td>
          </tr>
          <tr>
            <td class="table__heading">Местоимение</td>
            <td>Заменяет существительное или указывает на него</td>
          </tr>
          <tr>
            <td class="table__heading">Междометие</td>
            <td>Выражает эмоции и чувства</td>
          </tr>
           <tr>
            <td class="table__heading">Частица</td>
            <td>Служит для выражения оттенков эмоций или для связывания слов в предложения</td>
          </tr>
          <tr>
            <td class="table__heading">Наречие</td>
            <td>Обозначает признаки действий или состояния предметов и явлений</td>
          </tr>
          <tr>
            <td class="table__heading">Предлог</td>
            <td>Связывает слова в предложении и указывает на отношение между ними</td>
          </tr>
          <tr>
            <td class="table__heading">Глагол</td>
            <td>Обозначает действие или состояние предметов и явлений</td>
          </tr>
          <tr>
            <td class="table__heading">Союз</td>
            <td>Связывает слова, словосочетания и предложения друг с другом</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
