.hamburger-menu {
    display: none;
    height: 100%;
    font-size: 24px;
    background-color: var(--color-surface-colored);

    &--showing {
        display: inherit;
    }
    &__item {
        padding: 24px 0 24px 32px;
        border-bottom: 1px solid var(--color-header);
    }
}
