{% extends "base-layout.njk" %}
{% block title %}Авторы{% endblock %}}

{% block preview_title %}Авторы{% endblock %}
{% block preview_text %}
  На этой странице продемонстированы создали данного сайта – <span class="logo-style">integer</span>
{% endblock %}

{% block content %}
  <section class="authors">
    <div class="author">
      <div class="author__avatar"><img
          class="author__img"
          src="/database/images/authors/teacher-avatar.png"
          alt="teacher-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name title">Юлия Николаевна</div>
        <div class="author__desc">Куратор проекта. Помогла найти направление и
          поддерживала в течение всего пути.</div>
      </div>
    </div>
    <hr>
    <div class="author">
      <div class="author__avatar"><img
          class="author__img"
          src="/database/images/authors/albert-avatar.png"
          alt="albert-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name title">Альберт Рафаилович</div>
        <div class="author__desc">Программист и дизайнер. Отвечает за всю логистику
          сайта. Создал сайт, его дизайн, а также многие материалы к нему.</div>
      </div>
    </div>
    <hr>
    <div class="author">
      <div class="author__avatar"><img
          class="author__img"
          src="/database/images/authors/semen-avatar.png"
          alt="semen-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name title">Семен Андреевич</div>
        <div class="author__desc">Технолог. Отвечает за всё, что касается реального
          мира. Помогает разрабатывать материалы к сайту.</div>
      </div>
    </div>
    <hr>
    <div class="author">
      <div class="author__avatar"><img
          class="author__img"
          src="/database/images/authors/andrey-avatar.png"
          alt="andrey-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name title">Андрей Игоревич</div>
        <div class="author__desc">Психолог. Отвечает за взаимодействие сайта и
          пользователя. Определяет цветовую схему, формы объектов, а также их
          расположение.</div>
      </div>
    </div>
  </section>
{% endblock %}
