{% extends "layout.njk" %}
{% block title %}Авторы{% endblock %}}
{% block content %}
  <section class="preview">
    <div class="mrgn-b-20">
      <h1 class="font-big">Авторы</h1>
    </div>
    <div class="preview__sub-text">
      <p>
        Enfant d'chienne de baptême de cochonnerie de charogne de bâtard de viande à chien de sainte-viarge de cibouleau de
        ciarge de maudite marde. Saint-cimonaque de sapristi de maudite marde d'estique de cimonaque de viande à chien de cul de
        torrieux de boswell de p'tit Jésus.
      </p>
    </div>
  </section>
  <section class="author">
    <img src="/assets/images/teacher_avatar.png" alt="teacher_avatar.png" class="author__img"/>
    <section class="author__about">
      <h1 class="font-big author__about-h1">Юлия Нилова</h1>
      <p>Какое-то описание для данного объекта. Краткое и не скучное.</p>
    </section>
  </section>
  <hr/>
  <section class="author">
    <img src="/assets/images/albert_avatar.png" alt="albert_avatar.png" class="author__img"/>
    <section class="author__about">
      <h1 class="font-big author__about-h1">Альберт Рахметов</h1>
      <p>Разработчик сайта. Тот, кто создал сайт, а после сломал и починил его трижды.</p>
    </section>
  </section>
  <hr/>
  <section class="author">
    <img src="/assets/images/semen_avatar.png" alt="semen_avatar.png" class="author__img"/>
    <section class="author__about">
      <h1 class="font-big author__about-h1">Семен Вторушин</h1>
      <p>Какое-то описание для данного объекта. Краткое и не скучное.</p>
    </section>
  </section>
  <hr/>
  <section class="author">
    <img src="/assets/images/andrey_avatar.png" alt="andrey_avatar.png" class="author__img"/>
    <section class="author__about">
      <h1 class="font-big author__about-h1">Андрей Махоткин</h1>
      <p>Какое-то описание для данного объекта. Краткое и не скучное.</p>
    </section>
  </section>
{% endblock %}
