{% extends "base-layout.njk" %}
{% block title %}Авторы{% endblock %}}
{% block content %}
  <section class="preview">
    <div class="title">Авторы</div>
    <div class="preview__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat ipsam
      dolorum nostrum ut voluptates tempore voluptate libero voluptas eos blanditiis
      consequatur similique quia est vitae natus, dolorem sunt! Consequatur?
    </div>
  </section>
  <section class="authors">
    <div class="author">
      <div class="author__img"><img src="/assets/images/teacher-avatar.png" alt="teacher-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name">Нилова Юлия</div>
        <div class="author__desc">Mautadit de viarge de p'tit Jésus de verrat de taboire
          de crucifix de crime.</div>
      </div>
    </div>
    <div class="author">
      <div class="author__img"><img src="/assets/images/albert-avatar.png" alt="albert-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name">Рахметов Альберт</div>
        <div class="author__desc">Ciarge de boswell de colon de sacréfice de cul de
          gériboire de verrat.</div>
      </div>
    </div>
    <div class="author">
      <div class="author__img"><img src="/assets/images/semen-avatar.png" alt="semen-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name">Вторушин Семен</div>
        <div class="author__desc">Saint-cimonaque de bout d'viarge de mosus de
          calvinouche de géritole de marde de calvince d'étole de cibouleau.</div>
      </div>
    </div>
    <div class="author">
      <div class="author__img"><img src="/assets/images/andrey-avatar.png" alt="andrey-avatar.png">
      </div>
      <div class="author__about">
        <div class="author__name">Махоткин Андрей</div>
        <div class="author__desc"></div>
      </div>
    </div>
  </section>
{% endblock %}
