{% extends "base-layout.njk" %}
{% block title %}404!{% endblock %}

{% block preview__title %}
  Упс! Не удалось найти страницу...
{% endblock %}

{% block content %}
  <p class="error">
    <a href="/float/" class="link link--hover-red">Давайте вернемся обратно!</a>
  </p>
{% endblock %}
