{% extends "base-layout.njk" %}
{% block title %}Ошибка!{% endblock %}
{% block content %}
  <section class="error">
    <div class="error__title">
      404
    </div>
    <div class="error_text">
      Здесь ничего нет!
      <a class="link" href="">Вернуться на главную</a>
    </div>
  </section>
{% endblock %}
