{% extends "base-layout.njk" %}
{% block title %}Главная{% endblock %}

{% block preview__title %}
  Развитие!<br>
  Stonks!<br>
  Ты!
{% endblock %}
{% block preview__icon %}
  {% include "svg/preview__icon--arrow.svg" %}
{% endblock %}

{% block content %}
  <section class="text-about">
    <p class="text-about__paragraph"><span class="text-logo"></span> - это сайт, где ты сможешь найти необходимую тебе информацию и утилиты!</p>
    <p class="text-about__paragraph">Готовишься к ОГЭ, к зачету по физике, а может к сочинению по русскому языку? Или ты хочешь перевести км/ч в м/с? Тогда мы точно сможем тебе помочь!</p>
    <p class="text-about__paragraph">Возможно к тебе обращаются на Вы? Для таких посетителей у нас тоже есть полезности! Ищите их в разделе «Для учителей»!</p>
  </section>
  <section class="popular-pages">
    <h2 class="popular-pages__title text--h3">Популярные страницы</h2>
    <div class="popular-pages__content">
      <ul class="popular-pages__slides">
        <li class="popular-pages__slide"></li>
        <li class="popular-pages__slide slide slide--small bg--green">
          <a class="slide__link slide__link--p-small" href="/handbook/physics">
            <div class="slide__content">
              <div class="slide__title slide__title--fz-small slide__reference--mb8">Физика</div>
              <div class="slide__description slide__description--fz-small slide__description--maw-small">Если не учить физику, то вся жизнь будет наполнена чудесами и волшебством</div>
              <div class="slide__image slide__image--wh-small">{% include "svg/slide__image--physics.svg" %}</div>
            </div>
            <div class="slide__reference slide__reference--mt-small slide__reference--fz-small">Перейти</div>
          </a>
        </li>
        <li class="popular-pages__slide slide slide--small bg--brown">
          <a class="slide__link slide__link--p-small" href="/handbook/russian">
            <div class="slide__content">
              <div class="slide__title slide__title--fz-small slide__reference--mb8">Русский язык</div>
              <div class="slide__description slide__description--fz-small slide__description--maw-small">Русский язык - один из богатейших языков в мире, в этом нет никакого сомнения</div>
              <div class="slide__image slide__image--wh-small">{% include "svg/slide__image--russian.svg" %}</div>
            </div>
            <div class="slide__reference slide__reference--mt-small slide__reference--fz-small">Перейти</div>
          </a>
        </li>
        <li class="popular-pages__slide slide slide--small bg--blueberry">
          <a class="slide__link slide__link--p-small" href="/handbook/informatics">
            <div class="slide__content">
              <div class="slide__title slide__title--fz-small slide__reference--mb8">Информатика</div>
              <div class="slide__description slide__description--fz-small slide__description--maw-small">Кто владеет информацией, тот владеет миром</div>
              <div class="slide__image slide__image--wh-small">{% include "svg/slide__image--informatics.svg" %}</div>
            </div>
            <div class="slide__reference slide__reference--mt-small slide__reference--fz-small">Перейти</div>
          </a>
        </li>
        <li class="popular-pages__slide"></li>
      </ul>
      <button class="popular-pages__slider popular-pages__slider--prev slider" onclick="prev()">{% include "svg/popular-pages__slider--prev.svg" %}</button>
      <button class="popular-pages__slider popular-pages__slider--next slider" onclick="next()">{% include "svg/popular-pages__slider--next.svg" %}</button>
    </div>
    <a class="popular-pages__see-all" href="/search">Смотреть все</a>
  </section>
  <section class="authors">
    <h1 class="authors__title text--h2">Авторы проекта</h1>
    <div class="authors__author authors__supervisor author">
        <div class="author__avatar author__avatar--mr-normal"><img class="author__avatar-image" src="/database/pages/main/supervisor.svg" alt="failed to load image..."></div>
        <div class="author__about">
            <div class="author__name text--h4">Нилова Юлия Николаевна</div>
            <div class="author__post text--p-small">Куратор проекта</div>
        </div>
        <div class="author__quote text--p-small">В мире есть только Ку и Кю...</div>
    </div>
    <div class="authors__author authors__seniors">
        <div class="author author__senior">
            <div class="author__avatar author__avatar--mr-normal"><img class="author__avatar-image" src="/database/pages/main/albert.png" alt="failed to load image..."></div>
            <div class="author__about">
                <div class="author__name text--h4">Альберт</div>
                <div class="author__post text--p-small">Главный разработчик</div>
            </div>
        </div>
        <div class="author author__senior">
            <div class="author__avatar author__avatar--mr-normal"><img class="author__avatar-image" src="/database/pages/main/semen.png" alt="failed to load image..."></div>
            <div class="author__about">
                <div class="author__name text--h4">Семен</div>
                <div class="author__post text--p-small">Главный менеджер</div>
            </div>
        </div>
    </div>
    <div class="authors__author authors__middles">
        <div class="author author__middle">
            <div class="author__avatar author__avatar--mr-small"><img class="author__avatar-image" src="/database/pages/main/jaroslav.svg" alt="failed to load image..."></div>
            <div class="author__name text--h4">Ярослав</div>
        </div>
        <div class="author author__middle">
            <div class="author__avatar author__avatar--mr-small"><img class="author__avatar-image" src="/database/pages/main/nikolay.svg" alt="failed to load image..."></div>
            <div class="author__name text--h4">Николай</div>
        </div>
        <div class="author author__middle">
            <div class="author__avatar author__avatar--mr-small"><img class="author__avatar-image" src="/database/pages/main/andrey.svg" alt="failed to load image..."></div>
            <div class="author__name text--h4">Андрей</div>
        </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/slider.js"></script>
{% endblock %}
