.menu__content {
    height: 100%;
    max-width: 300px;
    overflow-y: auto;
    background-color: var(--color-grey);
    box-shadow: 0 10px 0 -12px rgba(black, .42), 0 4px 25px 0 rgba(black, .12);
}
