{% extends "base-layout.njk" %}
{% block title %}Математика{% endblock %}

{% block preview__title %}
  Математика
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
