{% extends "base-layout.njk" %}
{% block title %}Математика{% endblock %}

{% block preview__title %}
  Математика
{% endblock %}
{% block preview__description %}
  © Зубарев Николай Александрович, 2022. Все права защищены.<br>
{% endblock %}

{% block content %}
  <section class="synopses slides js-list-container"></section>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/synopses-loader--mathematics.js"></script>
  <script src="/assets/js/image-opener.js"></script>
  <script src="/assets/js/download-aside-opener.js"></script>
{% endblock %}
