{% extends "base-layout.njk" %}
{% block title %}Физика: Определения{% endblock %}

{% block preview_title %}Определения{% endblock %}
{% block preview_text %}
  Определения по физике. Здесь расположены таблицы с определениями для физики,
  которые построены с упором на понимание
{% endblock %}

{% block content %}
  {% include "components/up-button.njk" %}
  <section class="table-of-contents">
    <div class="title">Оглавление</div>
    <div class="table-of-contents__content">
      <ol class="table-of-contents__list">
        <li class="table-of-contents__list-item">
          <a class="link" href="#mechanics">Механика</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#mkt">Молекулярная физика, термодинамика, электростатика</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#directСurrent">Постоянный ток</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#magneticField">Магнитное поле</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#fluctuationsWaves">Колебания и волны</a>
        </li>
      </ol>
    </div>
  </section>
  <section class="tables"></section>
{% endblock %}
{% block scripts %}
  <script src="/assets/js/get-table.js" table="definitions" section="all"></script>
  <script src="/assets/js/open-image.js"></script>
{% endblock %}
