{% extends "base-layout.njk" %}
{% block title %}Физика: определения{% endblock %}

{% block preview__title %}
  Определения по физике
{% endblock %}

{% block content %}
  <section class="definitions">
    <div class="definitions__controller">
      <select class="definitions__section-selector section-selector table-controller selector text--p-small" table="definitions">
        <option value="mechanics" class="selector__option">Механика</option>
        <option value="ktg" class="selector__option">МКТ</option>
        <option value="directСurrent" class="selector__option">Постоянный ток</option>
        <option value="magneticField" class="selector__option">Магнитные поля</option>
        <option value="oscillationWaves" class="selector__option">Колебания и волны</option>
      </select>
    </div>
    <div class="timetable__table js-table-container table-container"></div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/open-image.js"></script>
  <script src="/assets/js/table-builder.js"></script>
  <script src="/assets/js/table-listener.js"></script>
{% endblock %}
