{% extends "base-layout.njk" %}
{% block title %}Поиск{% endblock %}

{% block preview__title %}
  Поиск
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
