{% extends "layout.njk" %}
{% block title %}Физика: Конспекты{% endblock %}
{% block content %}
  <content class="preview">
    <div class="mrgn-b-20">
      <h1 class="font-big">Boswell d'ostifie de calvaire de cul.</h1>
    </div>
    <div class="preview__sub-text">
      <p>Bâtard de maudite marde de boswell de crucifix de saint-sacrament de mosus de bout d'viarge de calvaire de cimonaque
        d'estique.</p>
    </div>
  </content>
  <section class="10-grade">
    <div class="head-block-green">
      <h2 class="font-small">10 класс</h2>
    </div>
    <div class="buttons buttons_mini">
      <div class="button button_download">
        {# <a href="/handbook/physics-synopsis/10/1" id="formulas"> #}
        <a href="/assets/files/physics/sinopsis-10/10-1.svg" id="formulas">
          Конспект 10/1
        </a>
        <a class="button_download-a" href="/assets/st/10-1.txt" download>
          <img src="/assets/images/download.svg" alt="download.svg">
        </a>
      </div>
    </div>
  </section>
  <section class="11-grade">
    <div class="head-block-orange">
      <h2 class="font-small">11 класс</h2>
    </div>
    <div class="buttons buttons_mini">
      <a href="#" class="button" id="formulas">32</a>
      <a href="#" class="button" id="definitions">33</a>
      <a href="#" class="button" id="synopsis">34</a>
      <a href="#" class="button" id="synopsis">35</a>
      <a href="#" class="button" id="synopsis">36</a>
    </div>
  </section>
{% endblock %}
