{% extends "base-layout.njk" %}
{% block title %}Физика: конспекты{% endblock %}

{% block preview__title %}
  Конспекты по физике
{% endblock %}

{% block content %}
  <section class="synopses synopses--physics slides js-list-container"></section>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/synopses-loader--physics.js"></script>
  <script src="/assets/js/image-opener.js"></script>
  <script src="/assets/js/download-aside-opener.js"></script>
{% endblock %}
