{% extends "base-layout.njk" %}
{% block title %}Физика: конспекты{% endblock %}

{% block preview__title %}
  Конспекты по физике
{% endblock %}

{% block content %}
  <section class="synopses synopses--physics slides js-list-container">
    {# <ul class="synopses__list slides__list">
      <li class="synopses__item slide slide--medium bg--blueberry">
        <a class="slide__link slide__link--p-large" href="/handbook/physics/synopses">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Карточка 1</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-medium">Понятие о механическом движении. Равнопеременное движение</div>
          <div class="slide__image slide__download download-aside">
            <h3 class="download-aside__title">Скачать</h3>
            <ul class="download-aside__list">
              <li><object><a class="download-aside__download-item bg--green" href="/database/handbook/physics/synopses/#!WIP:CARD" download>pdf</a></object></li>
              <li><object><a class="download-aside__download-item bg--brown" href="/database/handbook/physics/synopses/#!WIP:CARD" download>svg</a></object></li>
            </ul>
          </div>
        </a>
      </li>
    </ul> #}
  </section>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/synopses-loader--physics.js"></script>
{% endblock %}



{# {% extends "base-layout.njk" %}
{% block title %}Физика: Конспекты{% endblock %}

{% block preview__title %}Конспекты{% endblock %}
{% block preview__icon %}
  Все карточки по физике и дополнения к ним. Вы можете скачать любую карточку в
  удобном для Вас формате: pdf, png, svg
{% endblock %}

{% block content %}
  <section class="10-grade">
    <div class="restrange-title restrange--green">10 класс</div>
    <div class="buttons">
      <ul class="buttons__list buttons__list--columns--3">
        <li>
          {% set image = "10-1" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-2" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-3" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-4" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-5" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-6+7" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-8+9" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-10-1" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-10-2" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-11" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-12" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
        <li>
          {% set image = "10-13" %}
          {% set name %}Карточка {{ image }}{% endset %}
          {% include "components/card-button.njk" %}
        </li>
      </ul>
    </div>
  </section>
  <section class="11-grade">
    <div class="restrange-title restrange--yellow">11 класс</div>
    <div class="buttons">
      <ul class="buttons__list buttons__list--columns--3">
        <li>
          <a class="buttons__list-item button button--row-content" href="#!">
            Здесь ничего нет!
          </a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script src="/assets/js/drop-menu.js"></script>
  <script src="/assets/js/open-image.js"></script>
{% endblock %} #}
