{% extends "base-layout.njk" %}
{% block title %}Физика: конспекты{% endblock %}

{% block preview__title %}
  Конспекты по физике
{% endblock %}
{% block preview__description %}
  © Куперштейн Юрий Семенович, 2004. Все права защищены.<br>
  Правки внесли: Молодцова Марина Валентиновна, Рахметов Альберт Рафаилович.
{% endblock %}

{% block content %}
  <section class="synopses synopses--physics slides js-list-container"></section>
{% endblock %}

{% block scripts %}
  <script src="/float/assets/js/synopses-loader--physics.js"></script>
  <script src="/float/assets/js/image-opener.js"></script>
  <script src="/float/assets/js/download-aside-opener.js"></script>
{% endblock %}
