{% extends "base-layout.njk" %}
{% block title %}Физика: Определения{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">Определения</div>
    <div class="preview__text">
      Определения по физике. Здесь расположены таблицы с определениями для физики,
      которые построены с упором на понимание.
    </div>
  </section>
  <section class="table-of-contents">
    <div class="title">Оглавление</div>
    <div class="table-of-contents__content">
      <ol class="table-of-contents__list">
        <li class="table-of-contents__list-item">
          <a class="link" href="#mechanics">Механика</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#mkt">Молекулярная физика, термодинамика, электростатика</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#directСurrent">Постоянный ток</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#magneticField">Магнитное поле</a>
        </li>
        <li class="table-of-contents__list-item">
          <a class="link" href="#fluctuationsWaves">Колебания и волны</a>
        </li>
      </ol>
    </div>
  </section>
  <section class="tables"></section>
  <script src="/assets/js/get-table.js" table="definitions" section="all"></script>
{% endblock %}
