.bg {
    &--green {
        background-color: var(--color-green) !important;
    }
    &--brown {
        background-color: var(--color-brown) !important;
    }
    &--blueberry {
        background-color: var(--color-blueberry) !important;
    }
    &--red {
        background-color: var(--color-red) !important;
    }
    &--cyan {
        background-color: var(--color-cyan) !important;
    }
    &--purple {
        background-color: var(--color-purple) !important;
    }
    &--light-purple {
        background-color: var(--color-light-purple) !important;
    }
}