{% extends "base-layout.njk" %}
{% block title %}ОБЖ: эвакуация{% endblock %}

{% block preview__title %}
  Всё про эвакуацию
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
