{% extends "base-layout.njk" %}
{% block title %}Физика{% endblock %}

{% block preview__title %}
  Физика
{% endblock %}

{% block content %}
  <section class="slides">
    <ul class="slides__list">
      <li class="slides__item slide slide--medium bg--brown">
        <a class="slide__link slide__link--p-large" href="/float/handbook/physics/definitions">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Определения</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Все необходимые определения в виде удобной таблице с пояснениями</div>
        </a>
      </li>
      <li class="slides__item slide slide--medium bg--blueberry">
        <a class="slide__link slide__link--p-large" href="/float/handbook/physics/synopses">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Конспекты</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Опорные конспекты всех тем школьной программы в виде карточек</div>
        </a>
      </li>
      <li class="slides__item slide slide--medium bg--red">
        <a class="slide__link slide__link--p-large" href="/float/handbook/physics/textbooks">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Учебники</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Актуальные учебники для 10 и 11 классов</div>
        </a>
      </li>
      <li class="slides__item slide slide--medium bg--cyan">
        <a class="slide__link slide__link--p-large" href="/float/handbook/physics/tabular-data">
          <div class="slide__title slide__title--fz-normal slide__title--mb-normal">Табличные данные</div>
          <div class="slide__description slide__description--fz-normal slide__description--maw-large">Необходимые табличные данные для решения большинства задач по физике</div>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
