@import '../modules/color-theme';

.buttons {
  &__list {
    display: grid;
    row-gap: 18px;
    column-gap: 18px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &--columns--1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &--columns--3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}

.button {
  display: block;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--main-surface0);
  box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.3);
  transition: 250ms;

  &__title {
    color: var(--color-blue);
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
  }

  &--size--m {
    min-height: 115px;
  }
  &--alight--center {
    text-align: center;
  }
  &--row-content {
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    background-color: var(--main-surface1);
  }
}

.drop-menu-button {
  background-color: transparent;
  border: none;
  width: fit-content;

  &__image {
    fill: var(--main-text);
  }

  &--expanded-area {
    position: relative;
    padding: 20px;
    margin: -20px;
  }
}

.change-theme-button {
  vertical-align: sub;
  position: relative;
  // top: 2px;
  display: inline-block;

  &__title {
    display: none;

    @media screen and (max-width: 550px) {
      display: inherit;
      margin-left: 8px;
    }
  }
  &__image {
    fill: var(--main-text);
    position: relative;
    top: 1px;
    height: 20px;

    &--dark {
      display: inherit !important;

      html[theme='dark'] & {
        display: none !important;
      }
    }
    &--light {
      display: inherit !important;

      html[theme='light'] & {
        display: none !important;
      }
    }
  }
}
