@import '../modules/color-theme';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  @media screen and (max-width: 450px) {
    display: block;
  }
  &__links {
    @media screen and (max-width: 450px) {
      margin-top: 16px;
    }

    &-item {
      display: inline;
      margin-left: 12px;

      @media screen and (max-width: 450px) {
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
  &__link {
    padding: 4px 8px;
    color: var(--main-background);
    border-radius: 6px;
    font-size: 14px;

    &:hover {
      opacity: 0.7;
    }
  }
}
