@import '../modules/color-theme';

.table-container {
  &__content {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 8px;

      html[theme="dark"] & {
        background-color: #474957;
      }
      html[theme="light"] & {
        background-color: #fff;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-left: 5px solid transparent;
      border-radius: 16px;

      html[theme="dark"] & {
        background: #646a76;
      }
      html[theme="light"] & {
        background: #989da9;
      }
    }
  }
}

.table-of-contents {
  &__list {
    margin-left: 40px;

    &-item {
      line-height: 1.7;
    }
  }
}

.table {
  border-style: hidden;
  width: 100%;

  .link {
    color: var(--color-green);
  }

  &__heading {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    color: var(--main-text);
    padding: 20px;
    text-align: center;
  }
  &__data {
    & > * {
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
    
    &-center {
      text-align: center;
    }
    &-width {
      &--long {
        min-width: 20em;
      }
      &--short {
        min-width: 15em;
      }
    }
  }
}
