@import '../modules/color-theme';

.link {
  color: var(--main-text);
  transition: 300ms;

  &:hover {
    color: var(--color-blue);
    transition: 300ms;
  }
}

.logo-style {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: var(--main-text);
}

.preview__text {
  color: var(--main-subtext00);
}

.text--bold {
  line-height: 16px;
  font-weight: 400;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}

.nesting {
  &--1 {
    margin-left: 20px;
  }
  &--2 {
    margin-left: 40px;
  }
  &--3 {
    margin-left: 60px;
  }
  &--4 {
    margin-left: 80px;
  }
  &--5 {
    margin-left: 100px;
  }
}
// --- WIP ---
// .prefix {

// }

// .suffix {

// }

// .predicate {

// }

// .adjective {

// }
