html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Golos Text', 'JetBrains Mono';
  color: var(--color-text);
  background-color: var(--color-background);
  font-weight: 300;
}

p {
    color: var(--color-text);
    font-size: 32px;
    line-height: 1.2;
}

.container {
    width: 1168px;
    margin: auto;
    min-height: 80vh;
}

.text-logo::before {
    content: 'float';
    font-family: 'JetBrains Mono';
    font-style: italic;
    letter-spacing: -6px;
    font-size: 32px;
}

.icon {
    color: var(--color-text);
}
