@font-face {
  font-family: "Golos Text";
  src: url("/float/assets/fonts/GolosText-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/float/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/float/assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}
