.hidden {
  display: none !important;
}

.showing {
  display: inherit !important;
}

.logo__link {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 450px) {
  .footer {
    display: block;
  }

  .footer__links {
    margin-top: 16px;
  }

  .footer__links-item:first-child {
    margin-left: 0px;
  }
}

.footer__links-item {
  display: inline;
  margin-left: 12px;
}

.footer__link {
  padding: 4px 8px;
  color: var(--main-background);
  border: 2px solid;
  border-radius: 6px;
  font-size: 14px;
}

.footer__link:hover {
  opacity: 0.7;
}

.link {
  color: var(--main-text);
  transition: 300ms;
}

.link:hover {
  color: var(--color-blue);
  transition: 300ms;
}

.logo-style {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: var(--main-text);
}

.preview__text {
  color: var(--main-subtext);
}

.restrange-title {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  color: var(--main-background);
  margin-bottom: 16px;
  border-radius: 6px;
  border: 2px solid;
}

.text--bold {
  line-height: 16px;
  font-weight: 400;
}

.restrange--green {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.restrange--yellow {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.restrange--blue {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.restrange--mauve {
  background-color: var(--color-mauve);
  border-color: var(--color-mauve);
}

.restrange--teal {
  background-color: var(--color-teal);
  border-color: var(--color-teal);
}

.buttons__list {
  display: grid;
  row-gap: 18px;
  column-gap: 18px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.buttons__list--columns--1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.buttons__list--columns--3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 768px) {
  .buttons__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .buttons__list--columns--3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .buttons__list--columns--3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.button {
  display: block;
  padding: 20px;
  border-radius: 12px;

  background-color: var(--main-surface0);
  box-shadow: 0px 20px 70px -20px rgba(0, 0, 0, 0.3);

  transition: 250ms;
}

.button:hover {
  background-color: var(--main-surface1);
}

.button__title {
  color: var(--color-blue);
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
}

.button--size--m {
  min-height: 115px;
}

.button--alight--center {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
}

.table-container__content {
  width: 100%;
  overflow-x: scroll;
}

.table-container__content::-webkit-scrollbar {
  width: 0;
}

.table {
  border-style: hidden;
  width: 100%;
}

.table__heading {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  color: var(--main-text);
  padding: 20px;
  text-align: center;
}

.table__data-center {
  text-align: center;
}

.drop-menu-button {
  background-color: transparent;
  border: none;
  width: fit-content;
}

.drop-menu-button__image {
  fill: var(--main-text);
}

.drop-menu-button--expanded-area {
  position: relative;
  padding: 20px;
  margin: -20px;
}

_:-moz-tree-row(hover),
.drop-content {
  margin-left: -40px;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: var(--main-surface0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-left: -27px;
  border-radius: 8px;
  z-index: 1;
}

_:-moz-tree-row(hover),
.drop-content {
  margin-left: -40px;
}

.drop-content__link {
  padding: 12px 16px;
  display: block;
  border-radius: 8px;
}

.drop-content__link:hover {
  background-color: var(--main-surface2);
}

.drop-content--showing {
  display: block;
}

.button--row-content {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.author__img {
  height: 230px;
  border-radius: 500px;
}

.author__about {
  margin-left: 80px;
}

.author__name {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .author {
    display: block;
  }

  .author__img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .author__about {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .author__name {
    margin-bottom: 16px;
  }
}

.table-of-contents__list {
  margin-left: 40px;
}

.table-of-contents__list-item {
  line-height: 1.7;
}

.theme-button {
  cursor: pointer;
}

.theme-button__input {
  visibility: hidden;
}

.header__hamburger-menu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header__links-item {
  display: inline;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
}

.change-theme-button {
  vertical-align: sub;
  position: relative;
  top: 2px;
  display: inline-block;
}

.change-theme-button__title {
  display: none;
}

.change-theme-button__image {
  fill: var(--main-text);
  position: relative;
  top: 1px;
  height: 20px;
}

.header__links-item--element:hover {
  cursor: pointer;
}

@media screen and (min-width: 551px) {
  .header__links-list {
    display: flex;
    position: inherit;
    background-color: transparent;
    box-shadow: none;
  }
}

.logo__text {
  fill: var(--main-text);
}

@media screen and (max-width: 550px) {
  .change-theme-button__title {
    display: inherit;
    margin-left: 8px;
  }

  .header__hamburger-menu {
    display: flex;
    width: fit-content;
    fill: var(--main-text);
  }

  .header__links-list {
    margin-left: 0;
    right: 20px;
  }

  .header__links-item {
    display: block;
    border-radius: 8px;
    margin-left: 0;
  }

  .header__links-item:hover {
    background-color: var(--main-surface2);
  }

  .header__links-item--element {
    display: flex;
    padding: 12px 22px;
  }
}
