/* @import "/assets/css/colors.css"; */

html {
  /* macchiato */
  --ctp-macchiato-rosewater: #f4dbd6;
  --ctp-macchiato-flamingo: #f0c6c6;
  --ctp-macchiato-pink: #f5bde6;
  --ctp-macchiato-mauve: #c6a0f6;
  --ctp-macchiato-red: #ed8796;
  --ctp-macchiato-maroon: #ee99a0;
  --ctp-macchiato-peach: #f5a97f;
  --ctp-macchiato-yellow: #eed49f;
  --ctp-macchiato-green: #a6da95;
  --ctp-macchiato-teal: #8bd5ca;
  --ctp-macchiato-sky: #91d7e3;
  --ctp-macchiato-sapphire: #7dc4e4;
  --ctp-macchiato-blue: #8aadf4;
  --ctp-macchiato-lavender: #b7bdf8;
  --ctp-macchiato-text: #cad3f5;
  --ctp-macchiato-subtext1: #b8c0e0;
  --ctp-macchiato-subtext0: #a5adcb;
  --ctp-macchiato-overlay2: #939ab7;
  --ctp-macchiato-overlay1: #8087a2;
  --ctp-macchiato-overlay0: #6e738d;
  --ctp-macchiato-surface2: #5b6078;
  --ctp-macchiato-surface1: #494d64;
  --ctp-macchiato-surface0: #363a4f;
  --ctp-macchiato-base: #24273a;
  --ctp-macchiato-mantle: #1e2030;
  --ctp-macchiato-crust: #181926;

  /* mocha */
  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-crust: #11111b;

  /* latte */
  --ctp-latte-rosewater: #dc8a78;
  --ctp-latte-flamingo: #dd7878;
  --ctp-latte-pink: #ea76cb;
  --ctp-latte-mauve: #8839ef;
  --ctp-latte-red: #d20f39;
  --ctp-latte-maroon: #e64553;
  --ctp-latte-peach: #fe640b;
  --ctp-latte-yellow: #df8e1d;
  --ctp-latte-green: #40a02b;
  --ctp-latte-teal: #179299;
  --ctp-latte-sky: #04a5e5;
  --ctp-latte-sapphire: #209fb5;
  --ctp-latte-blue: #1e66f5;
  --ctp-latte-lavender: #7287fd;
  --ctp-latte-text: #4c4f69;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-latte-surface2: #acb0be;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-latte-surface0: #ccd0da;
  --ctp-latte-base: #eff1f5;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-latte-crust: #dce0e8;

  /* frappe */
  --ctp-frappe-rosewater: #f2d5cf;
  --ctp-frappe-flamingo: #eebebe;
  --ctp-frappe-pink: #f4b8e4;
  --ctp-frappe-mauve: #ca9ee6;
  --ctp-frappe-red: #e78284;
  --ctp-frappe-maroon: #ea999c;
  --ctp-frappe-peach: #ef9f76;
  --ctp-frappe-yellow: #e5c890;
  --ctp-frappe-green: #a6d189;
  --ctp-frappe-teal: #81c8be;
  --ctp-frappe-sky: #99d1db;
  --ctp-frappe-sapphire: #85c1dc;
  --ctp-frappe-blue: #8caaee;
  --ctp-frappe-lavender: #babbf1;
  --ctp-frappe-text: #c6d0f5;
  --ctp-frappe-subtext1: #b5bfe2;
  --ctp-frappe-subtext0: #a5adce;
  --ctp-frappe-overlay2: #949cbb;
  --ctp-frappe-overlay1: #838ba7;
  --ctp-frappe-overlay0: #737994;
  --ctp-frappe-surface2: #626880;
  --ctp-frappe-surface1: #51576d;
  --ctp-frappe-surface0: #414559;
  --ctp-frappe-base: #303446;
  --ctp-frappe-mantle: #292c3c;
  --ctp-frappe-crust: #232634;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu';
  color: var(--ctp-macchiato-text);
  background-color: var(--ctp-macchiato-mantle);
}

body > * {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

a,
a:visited {
  text-decoration: none;
  color: var(--ctp-macchiato-text);
  transition: 300ms;
}

p,
td {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

strong {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: var(--ctp-macchiato-text);
}

table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

td,
th {
  padding: 12px;
  vertical-align: middle;
  border: 1px solid var(--ctp-macchiato-base);
}

tr td:first-child,
th {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  color: var(--ctp-macchiato-text);
  padding: 20px;
  text-align: center;
}

hr {
  height: 5px;
  border: 0 solid var(--ctp-macchiato-surface0);
  border-radius: 5px;
  background-color: var(--ctp-macchiato-surface0);
}

.font-big {
  font-size: 32px;
  font-weight: 700;
}

.font-medium {
  font-size: 20px;
  font-weight: 500;
}

.font-small {
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-a {
  margin-left: 24px;
}

.hover-color:hover {
  color: var(--ctp-macchiato-blue);
  transition: 300ms;
}

.footer {
  margin-bottom: 120px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links-a {
  font-size: 15px;
  width: fit-content;
  padding: 4px 8px;
  margin-left: 8px;

  color: var(--ctp-macchiato-base) !important;

  border-radius: 6px;
  border: 2px solid;
}

.footer__links-a_purple:hover {
  opacity: 0.7;
}

.footer__links-a_purple {
  background-color: var(--ctp-macchiato-mauve);
  border-color: var(--ctp-macchiato-mauve);
}

.footer__links-a_cyan:hover {
  opacity: 0.7;
}

.footer__links-a_cyan {
  background-color: var(--ctp-macchiato-teal);
  border-color: var(--ctp-macchiato-teal);
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
  }

  .footer__links-a_purple {
    margin-left: 0;
  }

  .footer__links {
    margin-top: 20px;
  }
}

.mrgn-b-20 {
  margin-bottom: 20px;
}

.preview__sub-text {
  color: var(--ctp-macchiato-subtext1);
}

.buttons {
  display: grid;
  row-gap: 18px;
  column-gap: 18px;
}

.buttons_default {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.buttons_mini {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}

@media screen and (max-width: 768px) {
  .buttons_default {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .buttons_mini {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .buttons_mini {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.button {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;

  background-color: var(--ctp-macchiato-surface0);
  box-shadow: 0px 20px 70px -17px rgba(0, 0, 0, 0.25);

  transition: 250ms;
}

.button:hover {
  background-color: var(--ctp-macchiato-surface1);
}

#formulas {
  display: inline;
}

.button_download {
  flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
}

.button_download-a {
  box-sizing: content-box;
}

.button__main-text {
  color: var(--ctp-macchiato-sapphire);
  margin-bottom: 8px;
}

.button__sub-text {
  line-height: 20px;
}

.timetable td:nth-child(3),
.timetable td:nth-child(4) {
  text-align: center;
}

.timetable th,
.timetable td:nth-child(2),
.timetable td:nth-child(5) {
  text-align: left;
}

.author {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.author__img {
  height: 230px;
  border-radius: 500px;
}

.author__about {
  margin-left: 80px;
}

.author__about-h1 {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .author {
    display: block;
  }

  .author__img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .author__about {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .author__about-h1 {
    margin-bottom: 16px;
  }
}

[class^='head-block-'] {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  color: var(--ctp-macchiato-base);
  margin-bottom: 16px;
  border-radius: 6px;
  border: 2px solid;
}

.head-block-green {
  background-color: var(--ctp-macchiato-green);
  border-color: var(--ctp-macchiato-green);
}

.head-block-orange {
  background-color: var(--ctp-macchiato-yellow);
  border-color: var(--ctp-macchiato-yellow);
}

.head-block-blue {
  background-color: var(--ctp-macchiato-blue);
  border-color: var(--ctp-macchiato-blue);
}
