/* --- main --- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu';
  color: #cad3f5;
  background-color: #1e2030;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

a,
a:visited {
  text-decoration: none;
  color: #cad3f5;
  transition: 300ms;
}

a.colorized:hover {
  color: #8aadf4;
  transition: 300ms;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

strong {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: #cad3f5;
}

hr {
  height: 5px;
  border: 0 solid #383d66;
  border-radius: 5px;
  background-color: #383d66;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links #main {
  margin-left: 24px;
}

.hello_world .main_text {
  margin-bottom: 20px;
}

.hello_world .sub_text {
  color: #b8c0e0;
}

.actual .header,
.archive .header {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  color: #24273a;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 2px solid;
}

.actual .header {
  background-color: #a6da95;
  border-color: #a6da95;
}

.archive .header {
  background-color: #eed49f;
  border-color: #eed49f;
}

.actual .buttons,
.archive .buttons {
  display: grid;
  row-gap: 18px;
  column-gap: 18px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.button:hover {
  background: #494d64;
  transition: 250ms;
}

.button {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;

  background-color: #363a4f;
  box-shadow: 0px 20px 70px -17px rgba(0, 0, 0, 0.25);

  transition: 250ms;
}

.button_header {
  color: #7dc4e4;
  margin-bottom: 8px;
}

.button_desc {
  line-height: 20px;
}

.footer {
  margin-bottom: 120px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer #source,
.footer #authors {
  font-size: 15px;
  width: fit-content;
  padding: 4px 8px;
  margin-left: 8px;

  color: #24273a;

  border-radius: 6px;
  border: 2px solid;
}

.footer #source:hover {
  background-color: #9476b9;
  border-color: #9476b9;
}

.footer #source {
  background-color: #c6a0f6;
  border-color: #c6a0f6;
}

.footer #authors:hover {
  background-color: #5f9089;
  border-color: #5f9089;
}

.footer #authors {
  background-color: #8bd5ca;
  border-color: #8bd5ca;
}

@media screen and (min-width: 769px) {
  .container {
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .actual .button {
    width: 345px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .actual .buttons,
  .archive .buttons {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* ------ Authors ------ */

.hello_authors {
  margin-bottom: 80px;
}

.author img {
  height: 230px;
  border-radius: 500px;
}

.author {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.author .text_group {
  margin-left: 80px;
}

.author .text_group h1 {
  margin-bottom: 24px;
}

@media screen and (max-width: 769px) {
  .author img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .author {
    display: block;
  }

  .author .text_group {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }

  .author .text_group h1 {
    margin-bottom: 16px;
  }
}
