{% extends "base-layout.njk" %}
{% block title %}Русский язык: конспекты{% endblock %}

{% block preview__title %}
  Конспекты
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
