{% extends "base-layout.njk" %}
{% block title %}Дневное расписание{% endblock %}

{% block preview_title %}Дневное расписание{% endblock %}
{% block preview_text %}
  На данной странице Вы можете увидеть расписание текущего или следующего дня.
  Расписание следующего дня заменяет текущее после 17:00
{% endblock %}

{% block content %}
  <section class="tables"></section>
{% endblock %}
{% block scripts %}
  <script src="/assets/js/get-table.js" table="timetable" section="current"></script>
{% endblock %}
