{% extends "base-layout.njk" %}
{% block title %}Дневное расписание{% endblock %}
{% block content %}
  <section class="preview">
    <div class="title">Дневное расписание</div>
    <div class="preview__text">
      На данной странице Вы можете увидеть расписание текущего или следующего дня.
      Расписание следующего дня заменяет текущее после 17:00
    </div>
  </section>
  <section class="tables"></section>
  <script src="/assets/js/get-table.js" table="timetable" section="current"></script>
{% endblock %}
