{% extends "base-layout.njk" %}
{% block title %}Учитель{% endblock %}

{% block preview__title %}
  Учитель
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
