.link {
    color: var(--color-text);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 300ms;

    &:hover {
        color: var(--color-blueberry) !important;
        background-size: 100% 2px;
    }
  }
