html {
  --color-red: #e3b1b3;
  --color-cyan: #b1e0e3;
  --color-blueberry: #b1c1e3;
  --color-brown: #e3cbb1;
  --color-green: #b1e3b6;
  --color-green-light: #d6fdda;
  --color-black: #000000;
  --color-light-black: #161616;
  --color-dark-grey: #242424;
  --color-grey: #262626;
  --color-light-grey: #F4F4F4;
  --color-white: #ffffff;

  &[theme='light'] {
    --clr-background: var(--color-white);
    --clr-header: var(--color-green);
    --clr-footer: var(--color-dark-grey);
    --clr-surface: var(--color-light-grey);
    --clr-surface-colored: var(--color-green-light);
  }
  &[theme='dark'] {
    --clr-background: var(--color-light-black);
    --clr-header: var(--color-grey);
    --clr-footer: var(--color-black);
    --clr-surface: var(--color-dark-grey);
    --clr-surface-colored: var(--color-dark-grey);
  }
}
