{% extends "base-layout.njk" %}
{% block title %}Физика: табличные данные{% endblock %}

{% block preview__title %}
  Табличные данные
{% endblock %}

{% block content %}
  <section class="tabular-data table-container">
    <table class="table">
    <thead>
      <tr>
        <th class="table__head math__text">Вещество</th>
        <th class="table__head math__text">«C» — уд. теплоемкость [ Дж/(кг <span class="math__multiply"></span> К) ]</th>
        <th class="table__head math__text">«L» — уд. теплота парообр. [ Дж/кг ]</th>
        <th class="table__head math__text">«t <span class="math__index">к</span>°C» — темп. кипения [ °C ]</th>
        <th class="table__head math__text">«λ» — уд. теплота плавления [ Дж/кг ]</th>
        <th class="table__head math__text">«t <span class="math__index">пл</span>°C» — темп. плавления [ °C ]</th>
        <th class="table__head math__text">«q» — теплотв. топлива [ Дж/кг ]</th>
        <th class="table__head math__text">«ρ» — плотность [ кг/м <span class="math__degree">3</span> ]</th>
        <th class="table__head math__text">«m <span class="math__index">r</span>» — относит. атомн. масса</th>
        <th class="table__head math__text">«ρ <span class="math__index">э</span>» — уд. сопротивл <span class="math__multiply"></span> 10 <span class="math__degree math__degree">-6</span> [ Ом <span class="math__multiply"></span> м ]</th>
        <th class="table__head math__text">«E» — диэлект. прониц. среды</th>
        <th class="table__head math__text">«n» — абсол. показ. преломл.</th>
      </tr>
    </thead>
    <tdata>
      <tr class="table__row table__row--border-bottom">
        <td class="table__head">сталь</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">500</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">7800</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,12</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">железо</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">460</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,7 <span class="math__multiply"></span> 10 <span class="math__degree">5</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1539</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">7800</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,098</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">керосин, бензин</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2100</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">4,6 <span class="math__multiply"></span> 10 <span class="math__degree">7</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">710</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,1</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">стекло</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">840</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">7</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,5</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">вода</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">4200</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,3 <span class="math__multiply"></span> 10 <span class="math__degree">6</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">100</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1000</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">81</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,33</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">ртуть</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">140</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">13600</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">200</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">алюминий</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">920</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2700</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">27</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,028</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">лед</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2100</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">3,4 <span class="math__multiply"></span> 10 <span class="math__degree">5</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,31</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">свинец</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">130</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,25 <span class="math__multiply"></span> 10 <span class="math__degree">5</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">327</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">олово</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">230</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">медь</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">380</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,8 <span class="math__multiply"></span> 10 <span class="math__degree">5</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">8900</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,017</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">воздух</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,29</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">29 (молек.)</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">углерод</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">12</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">кислород</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">920</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">16</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">азот</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">14</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">неон</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">20</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">водород</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,09</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">гелий</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">4</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">латунь</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">8500</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">каменный уголь</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">3,0 <span class="math__multiply"></span> 10 <span class="math__degree">7</span></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">раст. масло</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">800</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">вольфрам</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,055</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">никелин</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">0,4</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">серебро</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">10500</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">нихром</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,1</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">парафин</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,1</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">слюда</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">7</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,618</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">скипидар</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,2</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">алмаз</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">2,4</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">глицерин</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,47</td>
      </tr>
      <tr class="table__row table__row--border-top">
        <td class="table__head">кварц</td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left"></td>
        <td class="table__data table__data--center table__data--no-wrap table__data--border-left">1,54</td>
      </tr>
    </tdata>
    </table>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
