{% extends "base-layout.njk" %}
{% block title %}ОБЖ: взрыв{% endblock %}

{% block preview__title %}
  Всё про взрыв
{% endblock %}

{% block content %}
  {% include "components/wip.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}
