<!DOCTYPE html>
<html theme="dark" lang="ru">
  <head>
    <!-- script -->
    <script src="/assets/js/set-theme.js"></script>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- link -->
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- title -->
    <title>{% block title %}{% endblock %} &#8211; .float</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="header__hamburger-button" tabindex="0">{% include "svg/hamburger-button.svg"%}</div>
        <div class="header__logo"><a class="logo__link" href="/">{% include "svg/header__logo.svg" %}</a></div>
      </div>
      <div class="header__right">
        <ul class="header__buttons">
          <li class="header__button" id="theme-button--click-area">
              <div class="theme-button header__button-image" id="theme-button" title="Тема" tabindex="0">
                {% include "svg/theme-button--light.svg" %}
                {% include "svg/theme-button--dark.svg" %}
              </div>
          </li>
          <li class="header__button">
              <div class="search-button header__button-image" id="search-button" title="Поиск" tabindex="0">
                {% include "svg/search.svg" %}
              </div>
          </li>
          <li class="header__button">
              <div class="profile-button header__button-image" id="profile-button" title="Профиль" tabindex="0">
                {% include "svg/profile.svg" %}
              </div>
          </li>
        </ul>
      </div>
    </header>
    <nav class="navigate-menu">
      <ul class="navigate-menu__items">
        <li class="navigate-menu__item navigate-menu__main-page"><a href="/" class="navigate-menu__link">Главная</a></li>
        <li class="navigate-menu__item"><a href="/timetable" class="navigate-menu__link">Расписание</a></li>
        <li class="navigate-menu__item"><a href="/handbook" class="navigate-menu__link">Справочник</a></li>
        <li class="navigate-menu__item"><a href="/ege" class="navigate-menu__link">Для ЕГЭ</a></li>
        <li class="navigate-menu__item"><a href="/oge" class="navigate-menu__link">Для ОГЭ</a></li>
        <li class="navigate-menu__item navigate-menu__for-teachers"><a href="/teacher" class="navigate-menu__link">Для учителей</a></li>
      </ul>
    </nav>
    <main class="container">
      <section class="preview">
        <div class="preview__title">{% block preview__title %}{% endblock %}</div>
        <div class="preview__icon">{% block preview__icon %}{% endblock %}</div>
      </section>
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="footer__left">
        <div class="footer__logo">
          <a class="logo__link" href="/">
            {% include "svg/footer__logo.svg" %}
          </a>
        </div>
        <div class="footer__links">
          <ul class="footer__links">
              <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="https://github.com/i1last/i1last.github.io" target="_blank">Исходный код сайта</a></li>
              <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="mailto:feedback.float@gmail.com" target="_blank">Обратная связь</a></li>
              <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="https://github.com/i1last/i1last.github.io/blob/main/LICENSE" target="_blank">Лицензия</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__copyright">
          <p class="footer__text">© Рахметов А.Р., 2022-2023 Все права защищены.</p>
          <p class="footer__text">Любое использование материалов без согласия правообладателя запрещено.</p>
          <p class="footer__text">По всем вопросам пишите на
              <a class="link link--hover-blueberry footer__text" href="mailto:feedback.float@gmail.com">feedback.float@gmail.com</a>
          </p>
        </div>
      </div>
    </footer>

    <!-- scripts -->
    {% block scripts %}{% endblock %}
    <script src="/assets/js/theme-changer.js"></script>
    <script src="/assets/js/navigate-menu.js"></script>
    <script src="/assets/js/navigate-menu-parser.js"></script>
  </body>
</html>
