<!DOCTYPE html>
<html theme="dark" lang="ru">
  <head>
    <!-- scripts -->
    <script src="/assets/js/set-theme.js"></script>

    <!-- metadata -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- links -->
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"/>
    <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"/>

    <!-- title -->
    <title>
      {% block title %}{% endblock %}
      &#8211; integer</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a class="logo__link" href="/">
          {% include "logo.svg.njk" %}
        </a>
      </div>
      <div class="header__links">
        <div class="header__hamburger-menu hamburger-menu" tabindex="0">
          <svg
            class="hamburger-menu__img hamburger-menu"
            height="28px"
            viewbox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg">
            <path
              class="hamburger-menu"
              d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z
                M28,14H4c-1.104,0-2,0.896-2,2
                s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z
                M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2
                S29.104,22,28,22z"/>
          </svg>
        </div>
        <ul class="header__links-list drop-content">
          <li class="header__links-item">
            <div class="change-theme-button link header__links-item--element">
              <div class="change-theme-button__images" title="Сменить тему" tabindex="0">
                <svg
                  class="change-theme-button__image change-theme-button__image--dark"
                  height="20px"
                  viewbox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2c-1.82 0-3.53.5-5 1.35C7.99 5.08 10 8.3 10 12s-2.01 6.92-5 8.65C6.47 21.5
                  8.18 22 10 22c5.52 0 10-4.48 10-10S15.52 2 10 2z"/>
                </svg>
                <svg
                  class="change-theme-button__image change-theme-button__image--light"
                  height="20px"
                  viewbox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4
                  15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z"/>
                </svg>
              </div>
              <div class="change-theme-button__title">Сменить тему</div>
            </div>
          </li>
          <li class="header__links-item">
            <a class="link header__links-item--element" href="/">Главная</a>
          </li>
          <li class="header__links-item">
            <a class="link header__links-item--element" href="/authors">Авторы</a>
          </li>
          <li class="header__links-item">
            <a class="link header__links-item--element" href="../">Предыдущая страница</a>
          </li>
        </ul>
      </div>
    </header>
    <section class="preview">
      <div class="title">{% block preview_title %}{% endblock %}</div>
      <div class="preview__text">{% block preview_text %}{% endblock %}</div>
    </section>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="logo">
        <a class="logo__link" href="/">
          {% include "logo.svg.njk" %}
        </a>
      </div>
      <div class="footer__links">
        <ul class="footer__links-list">
          <li class="footer__links-item">
            <a
              class="footer__link restrange--mauve text--bold"
              href="https://github.com/i1last/integer"
              target="_blank">
              Исходный код
            </a>
          </li>
          <li class="footer__links-item">
            <a
              class="footer__link restrange--teal text--bold"
              href="https://forms.gle/weuyGnz1A4G1TJmp7"
              target="_blank">
              Обратная связь
            </a>
          </li>
        </ul>
      </div>
    </footer>
    {% block scripts %}{% endblock %}
    <script src="/assets/js/hamburger-menu.js"></script>
    <script src="/assets/js/theme-changer.js"></script>
  </body>
</html>
