<!DOCTYPE html>
<html theme="dark" lang="ru">
  <head>
    <!-- script and favicon -->
    <link class="js-favicon" rel="icon" href="/float/favicon--light.svg" type="image/svg+xml">
    <script src="/float/assets/js/set-theme.js"></script>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="WMa-AZJ-bPuhkDQ9YOJ22BwQOdu1Y6cH5qRQRBym638"/>
    <meta name="yandex-verification" content="803226d0f6aff8f1"/>
    <meta name="theme-color" content="#b1e3b6">
    <meta name="msapplication-navbutton-color" content="#b1e3b6">
    <meta name="apple-mobile-web-app-status" content="#b1e3b6">
    <!-- link -->
    <link rel="stylesheet" href="/float/assets/css/main.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- title -->
    <title>{% block title %}{% endblock %} &#8211; float</title>
  </head>
  <body>
    <header class="header scrollable">
      <div class="header__left">
        <div class="header__hamburger-button" tabindex="0">{% include "svg/hamburger-button.svg"%}</div>
        <div class="header__logo"><a class="header__logo logo__link" href="/float/">{% include "svg/logo-text.svg" %}</a></div>
      </div>
      <div class="header__right">
        <ul class="header__buttons">
          <li class="js-theme-button-click-area">
              <div class="surface-button header__button-image theme-button" id="theme-button" title="Тема" tabindex="0">
                {% include "svg/theme-button--light.svg" %}
                {% include "svg/theme-button--dark.svg" %}
              </div>
          </li>
          <li>
            <a class="surface-button" href="/float/search">
              <div class="search-button header__button-image" id="search-button" title="Карта" tabindex="0">
                {% include "svg/search.svg" %}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <main class="container">
      <div class="container__navigate">
        <nav class="navigate-menu scrollable">
          <ul class="navigate-menu__list">
            <li class="navigate-menu__item navigate-menu__go-back"><a href="../" class="navigate-menu__link">Пред. страница</a></li>
          </ul>
          <ul class="navigate-menu__list"> 
            <li class="navigate-menu__item navigate-menu__main-page"><a href="/float/" class="navigate-menu__link">Главная</a></li>
            <li class="navigate-menu__item"><a href="/float/timetable" class="navigate-menu__link">Расписание</a></li>
            <li class="navigate-menu__item"><a href="/float/handbook" class="navigate-menu__link">Справочник</a></li>
            <li class="navigate-menu__item"><a href="/float/teacher" class="navigate-menu__link">Для учителей</a></li>
          </ul>
        </nav>
      </div>
      <div class="container__content">
        <section class="preview">
          <div class="preview__flex-container">
            <div class="preview__title text--h1">{% block preview__title %}{% endblock %}</div>
            <div class="preview__icon">{% block preview__icon %}{% endblock %}</div>
          </div>
          <div class="preview__description text--h5">{% block preview__description %}{% endblock %}</div>
        </section>
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="footer__left">
        <a class="footer__logo logo__link" href="/float/">
          {% include "svg/logo-text.svg" %}
        </a>
        <ul class="footer__links">
            <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="https://github.com/i1last/float" target="_blank">Исходный код сайта</a></li>
            <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="mailto:feedback.float@gmail.com" target="_blank">Обратная связь</a></li>
            <li class="footer__link"><a class="link link--hover-blueberry footer__text" href="https://github.com/i1last/float/blob/main/LICENSE" target="_blank">Лицензия</a></li>
        </ul>
      </div>
      <div class="footer__right">
        <div class="footer__copyright">
          <p class="footer__text">© Рахметов Альберт Рафаилович, 2022. Все права защищены.</p>
          <p class="footer__text">Любое использование материалов без согласия правообладателей запрещено.</p>
          <p class="footer__text">По всем вопросам пишите на
              <a class="link link--hover-blueberry footer__text" href="mailto:feedback.float@gmail.com">feedback.float@gmail.com</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- scripts -->
    <script src="/float/assets/js/scroll-listener.js"></script>
    <script src="/float/assets/js/navigate-menu-parser.js"></script>
    <script src="/float/assets/js/theme-changer.js"></script>
    <script src="/float/assets/js/animate.js"></script>
    <script src="/float/assets/js/menu-opener.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
