<nav class="up-button">
  <a class="up-button__link" href="#">
    <svg
      class="up-button__image"
      width="64"
      height="64"
      viewBox="0 0 32 32"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm0 26a12 12 0 1 1 12-12 12 12 0 0
          1-12 12z"
        class="up-button__image--path"/>
      <path
        d="M16.71 8.29a1 1 0 0 0-1.42 0l-7 7a1 1 0 0 0 1.42 1.42l5.29-5.3V23a1 1 0 0 0 2
          0V11.41l5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
        class="up-button__image--path"/>
    </svg>
  </a>
</nav>
