.link {
    color: var(--color-text);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 300ms;
    transition-property: background-size, color;

    &:hover {
        background-size: 100% 2px;
    }
  }
